@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
    font-family: "Montserrat", sans-serif;
    background-color: $white;
}

header {
    background-color: $purple;
    min-height: 80px;
}

footer {
    background-color: $purple;
    min-height: 100px;
}

section {
    min-height: 5rem;
    padding: 60px 0;
    overflow: hidden;

    &.section-bg {
        background-color: $gray-200;
    }

    h2 {
        color: $purple;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
    }

    p {
        color: $gray-700;
        text-align: center;
        margin-bottom: 3rem;
    }

    .content {
        p {
            color: $gray-700;
            padding-top: 15px;
            text-align: justify;
            font-weight: normal;
            font-size: medium;
            font-style: oblique;
        }
    }
}

ul
{
    li {
        span {
            color: $purple;
        }

    }
}