@import "../assets/bootstrap/scss/bootstrap.scss";

body {
    background-color: $white;
}

header {
    background-color: $purple;
    min-height: 80px;
}

footer {
    background-color: $purple;
    min-height: 100px;
}

section {
    min-height: 5rem;
    padding: 60px 0;
    overflow: hidden;

    &.section-bg {
        background-color: $gray-300;
    }

    h2 {
        color: chartreuse;
        text-align: center;
    }

    p {
        color: chartreuse;
        text-align: justify;
    }
}

.hero {
    min-height: 80vh;

    .image {
        padding: 10px;
        min-height: 300px;
        background-color: bisque;
    }
    .title{
        padding: 10px;
        min-height: 300px;
        background-color: aquamarine;
    }
}