@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
    background-color: $white;
}

header {
    background-color: $purple;
    min-height: 80px;
}

footer {
    background-color: $purple;
    min-height: 100px;
}

section {
    min-height: 5rem;
    padding: 60px 0;
    overflow: hidden;

    &.section-bg {
        background-color: $gray-300;
    }


    h2 {
        color: $gray-800;
        text-transform: uppercase;
        text-align: center;
    }

    p {
        color: $gray-700;
        text-align: center;
    }
}
