@import "../node_modules/bootstrap/scss/bootstrap.scss";

$primary: rgb(64, 80, 128);

body {
    font-family: "Montserrat", sans-serif;
    background-color: $white;
}

header {
    background-color: $primary;
    min-height: 80px;
}

footer {
    background-color: $primary;
    min-height: 100px;
}

section {
    min-height: 5rem;
    padding: 60px 0;
    overflow: hidden;

    &.transparent {
        background: linear-gradient(rgba($primary, 0.7), rgba($gray-500, 0.5)), url('../../public/images/img03.jpg') fixed center center;
        // background: url('../../public/images/call-to-action-bg.jpg') fixed center center;
        background-size: cover;
        padding: 60px 0;
    }

    &.section-bg {
        background-color: $gray-200;
    }

    .section-title {
        h2 {
            color: $primary;
            text-transform: uppercase;
            text-align: center;
            font-weight: 700;
        }

        p {
            color: $gray-700;
            text-align: center;
            margin-bottom: 3rem;
        }
    }

    .content {
        p {
            color: $gray-700;
            padding-top: 15px;
            text-align: justify;
            font-weight: normal;
            font-size: medium;
            font-style: oblique;
        }
    }

    ul {
        list-style-type: none;
        padding: 0px;

        li {
            padding-bottom: 10px;
            // overflow: visible;
            white-space: normal;

            i {
                color: $purple;
                // font-weight: 900;
                padding-right: 15px;
            }

            a {
                color: $primary;
                font-weight: bold;
                text-decoration: none;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.icon-box {
    margin-bottom: 20px;
    text-align: center;

    .icon {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        & i {
            color: $primary;
            font-size: 42px;
        }
    }

    .title {
        font-weight: 700;
        margin-bottom: 15px;
        font-size: 18px;
        text-transform: uppercase;
        & a {
            color: $secondary;
            transition: 0.3s;
        }
    }

    &:hover .title a {
        color: $primary;
    }

    .description {
        line-height: 24px;
        font-size: 14px;
    }

}
